<a href='/create_post'><button>CREATE POST</button></a>

<h1>LAST 10 POSTS</h1>

<% Post.all.reverse[0..9].each do |post| %>

    <h1><%= "#{User.find(post.user_id).username}'s Post:" %></h1>
    
    <h1><%= "Title: #{post.title}" %></h1>

    <p><%= "Body: #{post.body}" %></p>

<% end %>