<form method="POST" action="/create-post">
    <label for="title">Blog Title</label>
    <input type="text" id="title" name="[post]title" />

    <label for="body">Blog Body</label>
    <textarea type="text" id='body' name="[post]body" rows="10" cols="100" maxlength="150"></textarea>

    <input type="submit" />
</form>