<% user = current_user %>

<h1><%= user.profile.fname%>, Are You Sure You Want To Delete Your Account?</h1>

<form class='form' method="POST" action="/delete-account">
    <p>
        <label for="delete_password">Enter Password</label>
        <input type="password" id='delete_password' name="delete_password" />
    </p>

    <p>
        <label for="delete_password_confirm">Confirm Your Password</label>
        <input type="password" id='delete_password_confirm' name="delete_password_confirm" />
    </p>

    <p class='center'>
        <button type="submit">SUBMIT</button>
    </p>

</form>