<h1>Update Your Profile</h1>

<% user = current_user %>

<form class='form' method="POST" action="/edit-account">

    <p>
        <label for="username">Username: <%= user.username %></label>
    </p>

    <p>
        <label for="fname">First Name</label>
        <input type="text" id='fname' name="fname" value= "<%= user.profile.fname %>" />
    </p>

    <p>
        <label for="lname">Last Name</label>
        <input type="text" id='lname' name="lname" value= "<%= user.profile.lname %>"/>
    </p>

    <p>
        <label for="email">Email</label>
        <input type="text" id='email' name="email" value= "<%= user.profile.email %>"/>
    </p>

    <p>
        <label for="account_password">Enter Password</label>
        <input type="password" id='account_password' name="account_password" />
    </p>

    <p class='center'>
        <button type="submit">SUBMIT</button>
    </p>

</form>

<a href='/edit_password'><button class='profile_button'>Change Password</button></a>
<a href='/delete_account'><button class='profile_button'>Delete Account</button></a>