<h4>Change Your Password</h4>
<% user = current_user %>
<form method="POST" action="/edit_pwd">
    
<label for="old_password">Old Password</label>
<input type="password" id='old_password' name="old_password" />

<label for="new_password">New Password</label>
<input type="password" id='new_password' name="new_password" />

<label for="confirm_password">Confirm Password</label>
<input type="password" id='confirm_password' name="confirm_password" />

<input type="Submit" value ="Change Password" />
</form>