<h1>Change Your Password</h1>

<% user = current_user %>

<form class='form' method="POST" action="/edit-password">

    <p>
        <label for="old_password">Old Password</label>
        <input type="password" id='old_password' name="old_password" />
    </p>

    <p>
        <label for="new_password">New Password</label>
        <input type="password" id='new_password' name="new_password" />
    </p>

    <p>
        <label for="confirm_password">Confirm Password</label>
        <input type="password" id='confirm_password' name="confirm_password" />
    </p>

    <p class='center'>
        <button type="submit">SUBMIT</button>
    </p>

</form>