<h1>Please Sign In</h1>

<form class='form' method="POST" action="/sign-in">
    
    <p>
        <label for="username">Username</label>
        <input type="text" name="username">
    </p>

    <p>
        <label for="password">Password</label>
        <input type="password" name="password">
    </p>

    <p class='center'>
        <button type="submit">SUBMIT</button>
    </p>

</form>