<form method="POST" action="/register">
    <label for="username">Username</label>
    <label for="password">Password</label>
    <label for="confirm_password">Confirm Password</label>

    <label for="fname">First Name</label>
    <label for="lname">Last Name</label>
    <label for="email">Email</label>

    <input type="text" id="username" name="[user]username">
    <input type="password" id='password' name="[user]password">
    <input type="password" id='confirm_password' name="confirm_password">

    <input type="text" id='fname' name="[profile]fname">
    <input type="text" id='lname' name="[profile]lname">
    <input type="text" id='email' name="[profile]email">

    <input type="submit">
</form>