label, input {
    display: block;
}

.flash {
    padding: 40px 0;
    width: 200px;
    color: white;
    text-align: center;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}

.notice {
    background-color: orange;
}